input, select {
  width: 100%;
  min-width: 120px;
  height: 40px;
  padding: 0 12px;
  background: #FFFFFF;
  border: 1px solid #D1C5DA;
  border-radius: 5px;
  outline: none;
  font-family: Helvetica Neue, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  color: #111111;
  box-sizing: border-box;
  &:focus {
    border: 1px solid #803C8A;
  }
}
textarea {
  @extend input;
  height: auto;
  line-height: 145%;
  padding: 10px 12px;
}


.styled-select {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  &:after {
    content: "";
    position: absolute;
    right: 0;
    top: 7px;
    display: block;
    width: 26px;
    height: 26px;
    margin-right: 3px;
    border-left: 1px solid #D1C5DA;
    pointer-events: none;
    background: url("../images/double-arrow.svg") no-repeat center center;
  }
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0 22px 0 12px;
  }
}

.field-helper {
  position: absolute;
  will-change: transform;
  top: 0;
  left: 0;
  display: none;
  width: 190px;
  padding: 5px;
  border: 1px solid #803C8A;
  font-size: 13px;
  font-weight: bold;
  line-height: 16px;
  color: #803C8A;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.11);
  border-radius: 5px;
  background: white;
  z-index: 10;
  &:after {
    position: absolute;
    top: calc(50% - 8px);
    left: -7px;
    content: "";
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid white;
  }
  &:before {
    position: absolute;
    top: calc(50% - 8px);
    left: -8px;
    content: "";
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid #803C8A;
  }
  &__title {
    display: block;
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
  }
  &__subtitle {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-weight: normal;
    font-size: 13px;
    line-height: 19px;
    color: #828282;
  }
}
