@import "colors";
@import "text";
@import "buttons";

* {
  margin: 0;
  padding: 0;
}

// Common
body {
  font-family: Helvetica Neue, sans-serif;
  font-style: normal;
  background-color: #F5F6FD;
}

img {
  user-select: none;
  -webkit-user-drag: none;
}

.wrapper {
  max-width: 1170px;
  margin: auto;
}

.assets {
  margin-bottom: 40px;
}

// Header
.logo-image {
  margin: 0 10px;
}

.header {
  &__top {
    height: 75px;
    background: $gradient;
  }

  &__bottom {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    height: 58px;
    background-color: $c-brown;
  }
}

.main-nav {
  height: 100%;

  ul {
    display: flex;
    justify-content: center;

    height: 100%;
    margin: 0;
    padding: 0;

    list-style: none;
  }

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;

    &:hover {
      .main-nav__link {
        background-color: #72337b;
      }

      .submenu__wrapper {
        display: block;
      }
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 35px;
    cursor: pointer;
    color: white;
    text-decoration: none;

    span {
      margin-right: 8px;
    }
  }

  .submenu {
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    background-color: #503B53;
    overflow: hidden;
    box-shadow: 4px 4px 10px rgba(68, 56, 70, 0.33);

    &__wrapper {
      display: none;
      width: 260px;
      height: auto;
      position: absolute;
      top: calc(100% - 7px);
      left: 50%;
      transform: translateX(-50%);

      &:before {
        position: absolute;
        top: -8px;
        left: calc(50% - 10px);
        content: "";
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 8px solid #503B53;
      }
    }

    &__item {
      &:nth-last-child(1) .submenu__link:after {
        opacity: 0;
      }
    }

    &__link {
      display: block;
      position: relative;
      padding: 6px 14px;
      font-size: 13px;
      line-height: 28px;
      color: white;
      text-decoration: none;

      &:after {
        content: "";
        position: absolute;
        bottom: -3px;
        left: 14px;
        width: calc(100% - 28px);
        height: 2px;
        background-color: #432C46;
      }

      &:hover {
        background-color: #432C46;

        &:after {
          display: none;
        }
      }
    }
  }
}

.second-nav {
  ul {
    display: flex;
    justify-content: center;

    height: 100%;
    margin: 0;
    padding: 0;

    list-style: none;
  }

  &__item {
    margin: 0 18px;
  }

  &__link {
    padding: 4px;
    font-size: 13px;
    color: white;
    line-height: 19px;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}

.user {
  display: flex;
  align-items: center;

  &__avatar {
    margin: 0 14px 0 20px;
  }

  &__email {
    font-size: 13px;
    color: white;
    line-height: 19px;
    text-decoration: none;
  }
}

// logout
.logout-wrapper {
  justify-self: end;
  height: 100%;
}

.logout-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 106px;
  border: none;
  border-left: 1px solid #352F36;
  outline: none;
  color: white;
  background-color: $c-brown;
  cursor: pointer;

  &:hover {
    background-color: #2C242D;
  }

  img {
    margin-right: 8px;
  }
}

// Info block
.information {
  max-width: 500px;
  margin: 100px auto 0;
  text-align: center;

  &__header {
    font-size: 30px;
    font-weight: bold;
    color: #803c8a;
    margin-bottom: 35px;
  }

  p {
    font-size: 13px;
    color: #4F4F4F;
    margin-bottom: 15px;
  }

  .btn {
    margin-top: 35px;
  }
}

// Project card
.card {
  width: 370px;
  border-radius: 15px;
  background: #FFFFFF;
  box-shadow: 0 6px 12px rgba(164, 109, 255, 0.1);
  overflow: hidden;

  &__header {
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 44px;
    background: $gradient;
    color: white;
  }

  &__body {
    padding: 15px;

  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-top: 1px solid rgba(209, 197, 218, 0.5);
  }
}

.card--project {
  @extend .card;

  .card-btn {
    margin-left: calc(50% - 45px);
  }
}
