.t-header {
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
  color: #C4C4C4;
}

.t-subtitle {
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  color: #C4C4C4;
}

.t-button {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #C4C4C4;
}

.t-card-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #C4C4C4;
}

.t-main-menu {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #C4C4C4;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica Neue, sans-serif;
  font-style: normal;
}

img {
  user-select: none;
  -webkit-user-drag: none;
}

.wrapper {
  max-width: 1170px;
  margin: auto;
}

.logo-image {
  margin: 0 10px;
}

.header__top {
  height: 75px;
  background: linear-gradient(to left, #803C8A 15%, #FFCDCE 250%);
}
.header__bottom {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  height: 58px;
  background-color: #443846;
}

.main-nav {
  height: 100%;
}
.main-nav ul {
  display: flex;
  justify-content: center;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-nav__item {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
}
.main-nav__item:hover .main-nav__link {
  background-color: #72337b;
}
.main-nav__item:hover .submenu__wrapper {
  display: block;
}
.main-nav__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 35px;
  cursor: pointer;
  color: white;
  text-decoration: none;
}
.main-nav__link span {
  margin-right: 8px;
}
.main-nav .submenu {
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  background-color: #503B53;
  overflow: hidden;
  box-shadow: 4px 4px 10px rgba(68, 56, 70, 0.33);
}
.main-nav .submenu__wrapper {
  display: none;
  width: 260px;
  height: auto;
  position: absolute;
  top: calc(100% - 7px);
  left: 50%;
  transform: translateX(-50%);
}
.main-nav .submenu__wrapper:before {
  position: absolute;
  top: -8px;
  left: calc(50% - 5px);
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 8px solid #503B53;
}
.main-nav .submenu__item:nth-last-child(1) .submenu__link:after {
  display: none;
}
.main-nav .submenu__link {
  display: block;
  position: relative;
  padding: 6px 14px;
  font-size: 13px;
  line-height: 28px;
  color: white;
  text-decoration: none;
}
.main-nav .submenu__link:after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 14px;
  width: calc(100% - 28px);
  height: 2px;
  background-color: #432C46;
}
.main-nav .submenu__link:hover {
  background-color: #432C46;
}
.main-nav .submenu__link:hover:after {
  display: none;
}

.second-nav ul {
  display: flex;
  justify-content: center;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}
.second-nav__item {
  margin: 0 18px;
}
.second-nav__link {
  padding: 4px;
  font-size: 13px;
  color: white;
  line-height: 19px;
  text-decoration: none;
  cursor: pointer;
}
.second-nav__link:hover {
  text-decoration: underline;
}

.user {
  display: flex;
  align-items: center;
}
.user__avatar {
  margin: 0 14px 0 20px;
}
.user__email {
  font-size: 13px;
  color: white;
  line-height: 19px;
  text-decoration: none;
}

.logout-wrapper {
  justify-self: end;
  height: 100%;
}

.logout-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 106px;
  border: none;
  border-left: 1px solid #352F36;
  outline: none;
  color: white;
  background-color: #443846;
  cursor: pointer;
}
.logout-btn:hover {
  background-color: #2C242D;
}
.logout-btn img {
  margin-right: 8px;
}

/*# sourceMappingURL=index.css.map */
