.t-header {
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
  color: #C4C4C4;
}

.t-subtitle {
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  color: #C4C4C4;
}

.t-button {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #C4C4C4;
}

.t-card-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #C4C4C4;
}

.t-main-menu {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #C4C4C4;
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  height: 48px;
  min-width: 150px;
  padding: 0 32px;
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  color: white;
  background-color: #803C8A;
  box-shadow: 4px 4px 10px rgba(128, 60, 138, 0.22);
  border-radius: 24px;
  cursor: pointer;
}
.btn:hover {
  background-color: #64336B;
}
.btn[disabled] {
  opacity: 50%;
  cursor: auto;
}
.btn--step {
  color: #803C8A;
  border: 2px solid #803C8A;
  background-color: #F5F6FD;
}
.btn--step:hover {
  background-color: #F2EDFF;
}
.btn--step:before {
  content: "";
  width: 17px;
  height: 17px;
  margin-right: 8px;
  background-image: url("../images/add-step-icon.svg");
  background-repeat: no-repeat;
}

.card-action {
  display: block;
  position: relative;
  width: 40px;
  height: 40px;
  border: 1px solid #803C8A;
  border-radius: 5px;
  background-color: white;
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
}
.card-action:hover {
  background-color: #FFF5F5;
}
.card-action:hover .helper {
  display: flex;
}
.card-action.delete {
  background-image: url("../images/card_button/delete.svg");
}
.card-action.deploy {
  background-image: url("../images/card_button/deploy.svg");
}
.card-action.duplicate {
  background-image: url("../images/card_button/duplicate.svg");
}
.card-action.edit {
  background-image: url("../images/card_button/edit.svg");
}
.card-action.monitor {
  background-image: url("../images/card_button/monitor.svg");
}
.card-action.pause {
  background-image: url("../images/card_button/pause.svg");
}
.card-action.view-logs {
  background-image: url("../images/card_button/view-logs.svg");
}
.card-action.arrow-bot {
  background-image: url("../images/card_button/arrow-bot.svg");
}
.card-action.arrow-top {
  background-image: url("../images/card_button/arrow-top.svg");
}
.card-action .helper {
  position: absolute;
  top: calc(100% - 2px);
  left: 50%;
  transform: translateX(-50%);
  display: none;
  justify-content: center;
  align-items: center;
  height: 30px;
  padding: 0 5px;
  border: 1px solid #803C8A;
  font-size: 13px;
  font-weight: bold;
  line-height: 16px;
  color: #803C8A;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.11);
  border-radius: 5px;
  background: white;
  z-index: 10;
}
.card-action .helper:after {
  position: absolute;
  top: -7px;
  left: calc(50% - 8px);
  content: "";
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid white;
}
.card-action .helper:before {
  position: absolute;
  top: -8px;
  left: calc(50% - 8px);
  content: "";
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #803C8A;
}

.card-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 40px;
  border: none;
  border-radius: 5px;
  outline: none;
  font-weight: normal;
  font-size: 13px;
  color: white;
  cursor: pointer;
}
.card-btn--delete {
  background-color: #EB5656;
}
.card-btn--delete:hover {
  background-color: #C54646;
}
.card-btn--delete:before {
  content: "";
  width: 12px;
  height: 13px;
  margin-right: 10px;
  background-image: url("../images/card_button/delete-white.svg");
  background-repeat: no-repeat;
}
.card-btn--show {
  background-color: #803C8A;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.11);
}
.card-btn--show:hover {
  background-color: #64336B;
}
.card-btn--show:before {
  content: "";
  width: 23px;
  height: 14px;
  margin-right: 10px;
  background-image: url("../images/card_button/eye.svg");
  background-repeat: no-repeat;
}
.card-btn--ml {
  margin-left: calc(50% - 45px);
}

input, textarea, select {
  width: 100%;
  min-width: 120px;
  height: 40px;
  padding: 0 12px;
  background: #FFFFFF;
  border: 1px solid #D1C5DA;
  border-radius: 5px;
  outline: none;
  font-family: Helvetica Neue, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  color: #111111;
  box-sizing: border-box;
}
input:focus, textarea:focus, select:focus {
  border: 1px solid #803C8A;
}

textarea {
  height: auto;
  line-height: 145%;
  padding: 10px 12px;
}

.styled-select {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}
.styled-select:after {
  content: "";
  position: absolute;
  right: 0;
  top: 7px;
  display: block;
  width: 26px;
  height: 26px;
  margin-right: 3px;
  border-left: 1px solid #D1C5DA;
  pointer-events: none;
  background: url("../images/double-arrow.svg") no-repeat center center;
}
.styled-select select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0 22px 0 12px;
}

.field-helper {
  position: absolute;
  will-change: transform;
  top: 0;
  left: 0;
  display: none;
  width: 190px;
  padding: 5px;
  border: 1px solid #803C8A;
  font-size: 13px;
  font-weight: bold;
  line-height: 16px;
  color: #803C8A;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.11);
  border-radius: 5px;
  background: white;
  z-index: 10;
}
.field-helper:after {
  position: absolute;
  top: calc(50% - 8px);
  left: -7px;
  content: "";
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid white;
}
.field-helper:before {
  position: absolute;
  top: calc(50% - 8px);
  left: -8px;
  content: "";
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid #803C8A;
}
.field-helper__title {
  display: block;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
}
.field-helper__subtitle {
  font-weight: normal;
  font-size: 13px;
  line-height: 19px;
  color: #828282;
}

.grid {
  display: grid;
}
.grid-columns--1 {
  grid-template-columns: 1fr;
}
.grid-columns--2 {
  grid-template-columns: repeat(2, 1fr);
}
.grid-columns--3 {
  grid-template-columns: repeat(3, 1fr);
}
.grid-columns--4 {
  grid-template-columns: repeat(4, 1fr);
}
.grid-columns--5 {
  grid-template-columns: repeat(5, 1fr);
}
.grid-columns--6 {
  grid-template-columns: repeat(6, 1fr);
}
.grid-columns--7 {
  grid-template-columns: repeat(7, 1fr);
}
.grid-columns--8 {
  grid-template-columns: repeat(8, 1fr);
}
.grid-columns--9 {
  grid-template-columns: repeat(9, 1fr);
}
.grid-columns--10 {
  grid-template-columns: repeat(10, 1fr);
}
.grid-columns--11 {
  grid-template-columns: repeat(11, 1fr);
}
.grid-columns--12 {
  grid-template-columns: repeat(12, 1fr);
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica Neue, sans-serif;
  font-style: normal;
  background-color: #F5F6FD;
}

img {
  user-select: none;
  -webkit-user-drag: none;
}

.wrapper {
  max-width: 1170px;
  margin: auto;
}

.assets {
  margin-bottom: 40px;
}

.logo-image {
  margin: 0 10px;
}

.header__top {
  height: 75px;
  background: linear-gradient(228.39deg, #803C8A 15.56%, #FFCDCE 274.83%);
}
.header__bottom {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  height: 58px;
  background-color: #443846;
}

.main-nav {
  height: 100%;
}
.main-nav ul {
  display: flex;
  justify-content: center;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-nav__item {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
}
.main-nav__item:hover .main-nav__link {
  background-color: #72337b;
}
.main-nav__item:hover .submenu__wrapper {
  display: block;
}
.main-nav__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 35px;
  cursor: pointer;
  color: white;
  text-decoration: none;
}
.main-nav__link span {
  margin-right: 8px;
}
.main-nav .submenu {
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  background-color: #503B53;
  overflow: hidden;
  box-shadow: 4px 4px 10px rgba(68, 56, 70, 0.33);
}
.main-nav .submenu__wrapper {
  display: none;
  width: 260px;
  height: auto;
  position: absolute;
  top: calc(100% - 7px);
  left: 50%;
  transform: translateX(-50%);
}
.main-nav .submenu__wrapper:before {
  position: absolute;
  top: -8px;
  left: calc(50% - 10px);
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 8px solid #503B53;
}
.main-nav .submenu__item:nth-last-child(1) .submenu__link:after {
  opacity: 0;
}
.main-nav .submenu__link {
  display: block;
  position: relative;
  padding: 6px 14px;
  font-size: 13px;
  line-height: 28px;
  color: white;
  text-decoration: none;
}
.main-nav .submenu__link:after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 14px;
  width: calc(100% - 28px);
  height: 2px;
  background-color: #432C46;
}
.main-nav .submenu__link:hover {
  background-color: #432C46;
}
.main-nav .submenu__link:hover:after {
  display: none;
}

.second-nav {
  height: 100%;
}
.second-nav ul {
  display: flex;
  justify-content: center;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}
.second-nav__item {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
}
.second-nav__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 15px;
  color: white;
  text-decoration: none;
  cursor: pointer;
}
.second-nav__link:hover {
  background-color: #2C242D;
}

.user {
  display: flex;
  align-items: center;
}
.user__avatar {
  margin: 0 14px 0 20px;
}
.user__email {
  font-size: 13px;
  color: white;
  line-height: 19px;
  text-decoration: none;
}

.logout-wrapper {
  justify-self: end;
  height: 100%;
}

.logout-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 106px;
  border: none;
  border-left: 1px solid #352F36;
  outline: none;
  color: white;
  background-color: #443846;
  cursor: pointer;
}
.logout-btn:hover {
  background-color: #2C242D;
}
.logout-btn img {
  margin-right: 8px;
}

.information {
  max-width: 500px;
  margin: 100px auto 0;
  text-align: center;
}
.information__header {
  font-size: 30px;
  font-weight: bold;
  color: #803c8a;
  margin-bottom: 35px;
}
.information p {
  font-size: 13px;
  color: #4F4F4F;
  margin-bottom: 15px;
}
.information .btn {
  margin-top: 35px;
}

.card {
  width: 370px;
  border-radius: 15px;
  background: #FFFFFF;
  box-shadow: 0 6px 12px rgba(164, 109, 255, 0.1);
  overflow: hidden;
}
.card__header {
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 44px;
  background: linear-gradient(228.39deg, #803C8A 15.56%, #FFCDCE 274.83%);
  color: white;
}
.card__body {
  padding: 15px;
}
.card__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-top: 1px solid rgba(209, 197, 218, 0.5);
}
.card__field {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  margin-bottom: 20px;
  font-family: Helvetica Neue, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  border: 1px solid #D1C5DA;
  border-radius: 5px;
  background: #F5F5F5;
}
.card__field[data-header] {
  margin-top: 40px;
}
.card__field[data-header]:before {
  content: attr(data-header);
  display: block;
  width: 100%;
  position: absolute;
  top: -25px;
  left: 0;
  text-align: center;
  font-family: Helvetica Neue, sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #828282;
}
.card__field--bold {
  font-weight: 500;
}
.card__field--green {
  color: #3FD260;
  border: 1px solid #3FD260;
  background: #F5FFF6;
}
.card__field--red {
  color: #EB5656;
  border: 1px solid #EB5656;
  background: #FFF5F5;
}
.card .grid {
  grid-gap: 16px;
}

/*# sourceMappingURL=index.css.map */
