.login-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: url("../images/login-bg.png") no-repeat center center;
  background-size: cover;
  input {
    margin-bottom: 20px;
    color: $c-purple;
    background-repeat: no-repeat;
    background-position: 15px center;
    padding-left: 40px;
    &[type="text"] {
      background-image: url("../images/user-input.svg");
    }
    &[type="password"] {
      background-image: url("../images/password-input.svg");
    }
  }
  img {
    margin-bottom: 55px;
  }
  button {
    margin-top: 15px;
    margin-bottom: 25px;
    background-color: #432C46;
    box-shadow: 0 4px 10px rgba(37, 11, 40, 0.22);
    &:hover {
      background-color: #2c1d2e;
    }
  }
  span {
    color: white;
    a {
      color: white;
      font-weight: bold;
    }
  }
  form {
    max-width: 300px;
    text-align: center;
  }
}
